<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MRQuicklyPayViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CF4C27E1EA9B542003763E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF4C2971EA9B542003763E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF4C2A21EA9B542003763E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
